@model IEnumerable<BooksUse.Models.Requests>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Livre
            </th>
            <th>
                Demandeur
            </th>
            <th>
                Année
            </th>
            <th>
                Approuvé
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkBooksNavigation.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkUsersNavigation.FirstName) @Html.DisplayFor(modelItem => item.FkUsersNavigation.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkYearsNavigation.Title)
            </td>
            <td>
                @((item.Approved == 1) ? "Oui" : "Non")
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
