@model IEnumerable<BooksUse.Models.Requests>

@{
    ViewData["Title"] = "Index";
}

<h4>Mes livres à approuver</h4>
<br />
<p>
    <a asp-action="Create" class="btn btn-outline-primary">J'ai besoin d'un autre livre</a>
</p>
<table class="table">
    <thead>
        <tr class="text-primary text-center">
            <th>
                @Html.DisplayNameFor(model => model.FkBooksNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var style = (item.Approved == 0) ? "alert alert-warning" : "alert alert-success";
                <tr class="@style">
                    <td>
                        @Html.DisplayFor(modelItem => item.FkBooksNavigation.Title)
                    </td>
                    <td class="text-center">
                        @if (item.Approved == 1)
                        {
                            <span><i class="mdi mdi-checkbox-marked-circle-outline" style="font-size: 20px;"></i> Déja approuvé</span>;
                        }
                        else
                        {
                            <a asp-action="Approved" asp-route-id="@item.Id"><i class="mdi mdi-checkbox-blank-circle-outline" style="font-size: 20px;"></i> J'en ai besoin</a>
                        }
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete text-danger" style="font-size: 20px;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
</table>
